
.linkS{
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width:100%;
    color:white;
    background-color: var(--color-bg-close);
}

.appLink{
    color:white;
    
    border: 1px solid;
    border-color:  var(--color-primary-variant);;
    border-radius: 2%;
    align-self: center;
    padding-top: 1px;
    padding-bottom: 25px;
    margin-bottom: 10px;
}

.imgS{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 1.5rem; 
    width:96%;
    margin: auto;
    justify-content: center; 
}

.imageStyle{
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0px;
    padding-bottom: 0;
    width:300px;
    height:450px;
    object-fit: contain;
}

.flexing{
    display:flex;
    margin: auto;
    justify-content: space-between; 
    width:300px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
   
}





/* =============== MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1280px) {

    .imgS{
        grid-template-columns: repeat(4, 1fr); 
        width:70%;   

    }

    .flexing{
        margin-top: 0px;
    }
}

@media screen and (max-width: 1024px) {

    .imgS{
        grid-template-columns: repeat(3, 1fr); 
        width:80%;   

    }

    .flexing{
        margin-top: 0px;
    }
}


/* =============== MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 920px) {

    .imgS{
        grid-template-columns: 1fr 1fr; 
        width:60%;   
    }
}


/* =============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {
    
    .imgS{
        display: flex;
        flex-direction: column;
        width:100%; 
    }
    
    
    .imageStyle{
        margin-top: 0;
        justify-content: center;   
    }
    
}