body {
    margin:0;
    padding:0;
    
 }

 .aroundCanvast{
    position: absolute;
    background-color:rgb(27, 45, 59);
    text-align: center;
    top:0;
    bottom:0;
    left:0;
    right:0;
 }

 .samePost{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:black;
    width:26%;
    margin-left: 37%;
    margin-right: 37%;
    color:gray;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
 }

 .restart1t{
    text-align:left;
    
 }

 .restart2t{
    text-align:left;
    
 }

 .exitt{
    text-align:right;
    color:gray;
    
 }

.portraitWindowt{
    padding:0;
    width:100%;
    margin-bottom:3%;
    background-color: black;
}

.landscapeWindowt{
    padding:0;
    background-color: black;
    width:26%;
    margin-left: 37%;
    margin-right: 37%;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1280px) {
    .portraitWindowt{
        padding:0;
        width:70%;
        margin-left: 15%;
        margin-right: 15%;
        
    }
    
    .landscapeWindowt{
        padding:0;
        width:32%;
        margin-left: 34%;
        margin-right: 34%;
       
    }

    .samePost{
        width:32%;
    margin-left: 34%;
    margin-right: 34%;
     }

}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1024px) {
    .portraitWindowt{
        padding:0;
        width:70%;
        margin-left: 15%;
        margin-right: 15%;
        
    }
    
    .landscapeWindowt{
        padding:0;
        width:30%;
        margin-left: 35%;
        margin-right: 35%;
       
    }

    .samePost{
        width:30%;
        margin-left: 35%;
        margin-right: 35%;
     }

}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 912px) {
    .portraitWindowt{
        padding:0;
        width:80%;
        margin-left: 10%;
        margin-right: 10%;
     
    }

    .samePost{
        width:80%;
        margin-left: 10%;
        margin-right: 10%;
     }

}


/* =============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 768px) {
    .portraitWindowt{
        padding:0;
        width:70%;
        margin-left: 15%;
        margin-right: 15%;
     
    }

    .samePost{
        width:70%;
        margin-left: 15%;
        margin-right: 15%;
     }

}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 712px) {
    .portraitWindowt{
        padding:0;
        width:84%;
        margin-left: 8%;
        margin-right: 8%;
     
    }

    .samePost{
        width:84%;
        margin-left: 8%;
        margin-right: 8%;
     }

}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 540px) {
    .portraitWindowt{
        padding:0;
        width:70%;
        margin-left: 15%;
        margin-right: 15%;
     
    }

    .samePost{
        width:70%;
        margin-left: 15%;
        margin-right: 15%;
     }

}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 480px) {
    .portraitWindowt{
        padding:0;
        width:66%;
        margin-left: 17%;
        margin-right: 17%;
        
    }

    .samePost{
        width:66%;
        margin-left: 17%;
        margin-right: 17%;
     }

}