body {
    margin:0;
    padding:0;
    
 }

 .aroundCanvas{
    position: absolute;
    background-color:rgb(27, 45, 59);
    text-align: center;
    top:0;
    bottom:0;
    left:0;
    right:0;
 }

 .samePos{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(41, 35, 35);
    width:26%;
    margin-left: 37%;
    margin-right: 37%;
    color:gray;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
 }

 .restart1{
    text-align:left;
    
 }

 .restart2{
    text-align:left;
    
 }

 .exit{
    text-align:right;
    color:gray;
    
 }

.portraitWindow{
    padding:0;
    width:100%;
    margin-bottom:3%;
    background-color: black;
}

.landscapeWindow{
    padding:0;
    background-color: black;
    width:26%;
    margin-left: 37%;
    margin-right: 37%;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1280px) {
    .portraitWindow{
        padding:0;
        width:70%;
        margin-left: 15%;
        margin-right: 15%;
        
    }
    
    .landscapeWindow{
        padding:0;
        width:32%;
        margin-left: 34%;
        margin-right: 34%;
       
    }

    .samePos{
        width:32%;
    margin-left: 34%;
    margin-right: 34%;
     }

}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1024px) {
    .portraitWindow{
        padding:0;
        width:70%;
        margin-left: 15%;
        margin-right: 15%;
        
    }
    
    .landscapeWindow{
        padding:0;
        width:30%;
        margin-left: 35%;
        margin-right: 35%;
       
    }

    .samePos{
        width:30%;
        margin-left: 35%;
        margin-right: 35%;
     }

}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 912px) {
    .portraitWindow{
        padding:0;
        width:80%;
        margin-left: 10%;
        margin-right: 10%;
     
    }

    .samePos{
        width:80%;
        margin-left: 10%;
        margin-right: 10%;
     }

}


/* =============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 768px) {
    .portraitWindow{
        padding:0;
        width:70%;
        margin-left: 15%;
        margin-right: 15%;
     
    }

    .samePos{
        width:70%;
        margin-left: 15%;
        margin-right: 15%;
     }

}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 712px) {
    .portraitWindow{
        padding:0;
        width:84%;
        margin-left: 8%;
        margin-right: 8%;
     
    }

    .samePos{
        width:84%;
        margin-left: 8%;
        margin-right: 8%;
     }

}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 540px) {
    .portraitWindow{
        padding:0;
        width:70%;
        margin-left: 15%;
        margin-right: 15%;
     
    }

    .samePos{
        width:70%;
        margin-left: 15%;
        margin-right: 15%;
     }

}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 480px) {
    .portraitWindow{
        padding:0;
        width:80%;
        margin-left: 10%;
        margin-right: 10%;
        
    }

    .samePos{
        width:80%;
        margin-left: 10%;
        margin-right: 10%;
     }

}