
 .aroundCanvast{
    position:absolute;
    background-color:black;
    top:0;
    bottom: 0;
    left:0;
    right:0;
 }

 .borders{
    background-color:black;
    width:26%;
    margin-left: 37%;
    margin-right: 37%;
 }

 .samePost{
   margin-top:5px;
    border: 2px solid;
    border-bottom: 0px;
    border-color: white;
    width:100%;
    padding: 0.2rem 1rem 0.2rem 1rem;
    display:flex;
    justify-content:space-between; 
    background-color:black;
    text-align: center;
    color:gray;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
 }

 .restart1t{
    color:gray;
    
 }

 .restart2t{
    color:gray;
    
 }

 .exitt{
    
    color:gray;
    
 }

.portraitWindowt{
    padding:0;
    margin:0;
    border: 2px solid;
    border-color: white;
    width:100%;
    background-color: black;
}

.landscapeWindowt{
    padding:0;
    border: 2px solid;
    border-color: white;
    width:100%;
    background-color: black;
   
}

.tooltip-text{
    visibility: hidden;
    position: absolute;
    z-index:1;
    width:250px;
    color:black;
    font-size: 14px;
    background-color: white;
    border-radius: 5px;
    padding:5px;
    top:25px; 
    text-align: left;
}

.tooltip-text-desktop{
    visibility: hidden;
    position: absolute;
    z-index:1;
    width:300px;
    color:black;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    padding:5px;
    top:25px; 
    text-align: left;
}



@media screen and (min-width: 1300px) {  
    .info:hover .tooltip-text-desktop{
        visibility: visible;
    }
}


/* =============== MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1280px) {

    .borders{
        width:26%;
        margin-left: 37%;
        margin-right: 37%;
     }

     
    
    .info:hover .tooltip-text{
        visibility: visible;
    }
    
    .info .tooltip-text:hover{
       display: none;
    }

}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1024px) {
    .borders{
        width:24%;
        margin-left: 38%;
        margin-right: 38%;
     }
    

}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 912px) {
    .borders{
        width:58%;
        margin-left: 21%;
        margin-right: 21%;
     }

}


/* =============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 768px) {
    .borders{
        width:54%;
        margin-left: 23%;
        margin-right: 23%;
     }

}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 712px) {
    .borders{
        width:64%;
        margin-left: 18%;
        margin-right: 18%;
     }

}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 540px) {
    .borders{
        width:50%;
        margin-left: 25%;
        margin-right: 25%;
     }

}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 520px) {
    .borders{
        width:80%;
        margin-left: 10%;
        margin-right: 10%;
     }

}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 411px) {
    .borders{
        width:70%;
        margin-left: 15%;
        margin-right: 15%;
     }

}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 380px) {
    .borders{
        width:66%;
        margin-left: 17%;
        margin-right: 17%;
     }


}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 280px) {
    .borders{
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
     }


}