.aroundCanvasbf {
    position: absolute;
    background-color: black;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.samePosbf {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: black;
    width: 30%;
    margin-top:.5%;
    margin-left: 35%;
    margin-right: 35%;
    color: gray;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}

.restart1bf {
    color: gray;

}

.restart2bf {
    color: gray;

}

.exitbf {
    color: gray;

}

.nextbf{
    position: absolute;
    margin: auto;
    padding: 1%;
    background-color: black;
    color: white;
    width: 28%;
    border: 2px solid gray;
    border-Radius: 5rem;
    left: 50%;
    transform: translate(-50%, 0%);
    top: calc(8.5% * 8);
    cursor: pointer;
}

.portraitbf {
    border: none;
    padding: 0;
    background-color: black;
}

.landscapebf {
    border:solid 1 black;
    padding: 0;
    background-color: black;
    width: 30%;
    height:95%;
    margin-left: 35%;
    margin-right: 35%;
}

.tooltip-textbf {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 70%;
    color: rgb(22, 41, 56);
    font-size: 14px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    top: 25px;
    text-align: left;
}

.tooltip-text-desktopbf {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 20%;
    color: rgb(22, 41, 56);
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    top: 25px;
    text-align: left;
}



@media screen and (min-width: 1300px) {

    .aroundCanvasbf {
        background-color: gray;
    
    }
    
    .infobf:hover .tooltip-text-desktopbf {
        visibility: visible;
    }
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1280px) {

    .samePosbf {
        position: absolute;
        top: 0;
        width: 100%;
        margin: 0;
        padding: 0;
    }


    .infobf:hover .tooltip-textbf {
        visibility: visible;
    }

    .infobf .tooltip-textbf:hover {
        display: none;
    }


    .portraitbf {
        margin: 0;
        padding: 0;
        width: 100%;
       
    }

    .landscapebf {
        padding: 0;
        width: 32%;
        margin-left: 34%;
        margin-right: 34%;

    }
}